In [2]:
# 1.Importing Libs
# 2.Load the dataset
# 3.Clean the dataset
# 4.Convert text in vectors
# 5.Split the dataset
# 6.Model Building
# 7.Performance
# 8.saving the model
# 9.Doing the prediction

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is C225-62AB

 Directory of C:\Workspace\LearnBay_DSAI\NLP

15-02-2021  09:34    <DIR>          .
15-02-2021  09:34    <DIR>          ..
15-02-2021  09:34    <DIR>          .ipynb_checkpoints
10-02-2021  09:35             2,962 bow.py
11-02-2021  19:47            14,254 cosine similarity.ipynb
12-02-2021  08:43    <DIR>          Data
12-02-2021  08:42           488,961 Data.zip
15-02-2021  08:36            68,093 famous_people.csv
15-02-2021  09:34            33,758 Information Retrival - Famous People.ipynb
02-02-2021  23:59            42,362 MyFirst_NLP_Program_NLTK.ipynb
13-02-2021  08:25            27,632 Netflix Dataset.ipynb
08-02-2021  00:09            97,241 Spacy.ipynb
09-02-2021  09:24            48,484 Stanford (Stanza).ipynb
03-02-2021  09:42            20,691 TextBlob.ipynb
11-02-2021  09:00             2,992 tf_idf.py
              11 File(s)        847,430 bytes
               4 Dir(s)  138,752,487,424 bytes free

In [4]:
import numpy as np
import pandas as pd
import string

In [5]:
from nltk.corpus import stopwords
import re
from sklearn.model_selection import train_test_split

In [6]:
pos_rev = pd.read_csv('Data/pos.txt', sep="\n", encoding='latin-1', header=None)
pos_rev['Mood']=1
pos_rev=pos_rev.rename(columns={0:'Review'})
pos_rev

                                                 Review  Mood
0     the rock is destined to be the 21st century's ...     1
1     the gorgeously elaborate continuation of " the...     1
2                        effective but too-tepid biopic     1
3     if you sometimes like to go to the movies to h...     1
4     emerges as something rare , an issue movie tha...     1
...                                                 ...   ...
5326  both exuberantly romantic and serenely melanch...     1
5327  mazel tov to a film about a family's joyous li...     1
5328  standing in the shadows of motown is the best ...     1
5329  it's nice to see piscopo again after all these...     1
5330  provides a porthole into that noble , tremblin...     1

[5331 rows x 2 columns]

In [7]:
neg_rev = pd.read_csv('Data/negative.txt', sep="\n", encoding='latin-1', header=None)
neg_rev['Mood']=0
neg_rev=neg_rev.rename(columns={0:'Review'})
neg_rev

                                                 Review  Mood
0                      simplistic , silly and tedious.      0
1     it's so laddish and juvenile , only teenage bo...     0
2     exploitative and largely devoid of the depth o...     0
3     [garbus] discards the potential for pathologic...     0
4     a visually flashy but narratively opaque and e...     0
...                                                 ...   ...
5326  a terrible movie that some people will neverth...     0
5327  there are many definitions of 'time waster' bu...     0
5328  as it stands , crocodile hunter has the hurrie...     0
5329  the thing looks like a made-for-home-video qui...     0
5330  enigma is well-made , but it's just too dry an...     0

[5331 rows x 2 columns]

In [8]:
# Text Analytics
# 1. Lower Case
# 2. Remove Punctuation
# 3. Remove stopwords
# 4. Concetinate the dataset
# 5. Remove Numbers
# 6. Remove Special Characters
# 7. Remove Links

In [9]:
# Pos data
pos_rev.loc[:, 'Review'] = pos_rev.loc[:, 'Review'].apply(lambda x:x.lower())
pos_rev.loc[: , 'Review'] = pos_rev.loc[: , 'Review'].apply(lambda x :x.translate(str.maketrans(dict.fromkeys(string.punctuation))))
pos_rev.loc[: , 'Review'] = pos_rev.loc[: , 'Review'].apply(lambda x :' '.join([i for i in x.split() if i not in stopwords.words('english')]))
pos_rev.loc[: , 'Review'] = pos_rev.loc[: , 'Review'].apply(lambda x : re.sub(r'\d', '', x))
pos_rev

                                                 Review  Mood
0     rock destined st centurys new conan hes going ...     1
1     gorgeously elaborate continuation lord rings t...     1
2                             effective tootepid biopic     1
3     sometimes like go movies fun wasabi good place...     1
4     emerges something rare issue movie thats hones...     1
...                                                 ...   ...
5326  exuberantly romantic serenely melancholy time ...     1
5327  mazel tov film familys joyous life acting yidd...     1
5328  standing shadows motown best kind documentary ...     1
5329    nice see piscopo years chaykin headly priceless     1
5330  provides porthole noble trembling incoherence ...     1

[5331 rows x 2 columns]

In [25]:
# Negative data
# Pos data
neg_rev.loc[: , 'Review'] = neg_rev.loc[:, 'Review'].apply(lambda x:x.lower())
neg_rev.loc[: , 'Review'] = neg_rev.loc[: , 'Review'].apply(lambda x :x.translate(str.maketrans(dict.fromkeys(string.punctuation))))
neg_rev.loc[: , 'Review'] = neg_rev.loc[: , 'Review'].apply(lambda x :' '.join([i for i in x.split() if i not in stopwords.words('english')]))
neg_rev.loc[: , 'Review'] = neg_rev.loc[: , 'Review'].apply(lambda x : re.sub(r'\d', '', x))
neg_rev

                                                 Review  Mood
0                              simplistic silly tedious     0
1     laddish juvenile teenage boys could possibly f...     0
2     exploitative largely devoid depth sophisticati...     0
3     garbus discards potential pathological study e...     0
4     visually flashy narratively opaque emotionally...     0
...                                                 ...   ...
5326     terrible movie people nevertheless find moving     0
5327  many definitions time waster movie must surely...     0
5328  stands crocodile hunter hurried badly cobbled ...     0
5329          thing looks like madeforhomevideo quickie     0
5330                         enigma wellmade dry placid     0

[5331 rows x 2 columns]

In [26]:
# Containating the dataset
com_rev = pd.concat([pos_rev, neg_rev], axis=0).reset_index()
com_rev

       index                                             Review  Mood
0          0  rock destined st centurys new conan hes going ...     1
1          1  gorgeously elaborate continuation lord rings t...     1
2          2                          effective tootepid biopic     1
3          3  sometimes like go movies fun wasabi good place...     1
4          4  emerges something rare issue movie thats hones...     1
...      ...                                                ...   ...
10657   5326     terrible movie people nevertheless find moving     0
10658   5327  many definitions time waster movie must surely...     0
10659   5328  stands crocodile hunter hurried badly cobbled ...     0
10660   5329          thing looks like madeforhomevideo quickie     0
10661   5330                         enigma wellmade dry placid     0

[10662 rows x 3 columns]

In [29]:
# Train Test Split
X_train, X_test, Y_train , Y_test = train_test_split(com_rev['Review'].values , com_rev['Mood'].values , test_size = 0.2 , random_state = 101)

In [30]:
train_data = pd.DataFrame({'review':X_train, 'mood':Y_train})
test_data = pd.DataFrame({'review':X_test, 'mood':Y_test})

In [44]:
# Vector Form
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

train_vectors = vectorizer.fit_transform(train_data['review'])
test_vectors = vectorizer.transform(test_data['review'])

In [45]:
len(vectorizer.get_feature_names())

17817

In [39]:
# SVM
from sklearn import svm
from sklearn.metrics import classification_report

In [46]:
classifier_linear = svm.SVC(kernel = 'linear')
classifier_linear.fit(train_vectors, train_data['mood'])

SVC(kernel='linear')

In [47]:
prediction_linear = classifier_linear.predict(test_vectors)

In [48]:
report = classification_report(test_data['mood'], prediction_linear, output_dict=True)
#print(report)
print('positive', report['1']['recall'])
print('negative', report['0']['recall'])

positive 0.7379629629629629
negative 0.7606837606837606

In [ ]:
# Naive Bayes